@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

/* Root */
:root {
  /* Settings */
  --green-color: #a6e3a1;
  --foreground-color: #313244;
  --background-color: #1e1e2e;
  --darkbackground-color: #181825;
  --font-color: #cdd6f4;
  --magenta-color: #cba6f7;
  --red-color: #f38ba8;
  --yellow-color: #f9e2af;
  --orange-color: #fab387;
  --blue-color: #89b4fa;
  --cyan-color: #94e2d5;
  --lightblue-color: #89dceb;
  --figcaption-color: #bac2de;
  --font-family: "Roboto", monospace;
  --scrollbar-track: var(--foreground-color);
  --scrollbar-thumb: var(--blue-color);
  --scrollbar-thumb-hover: var(--lightblue-color);
  --transition: all 0.3s ease-in-out;
  --shadow: 8px 8px 24px 0px rgba(0, 0, 0, 0.2);
  --header-1-color: var(--green-color);
  --header-2-color: var(--blue-color);
  --header-3-color: var(--lightblue-color);
  --header-4-color: var(--yellow-color);
  --header-5-color: var(--cyan-color);
  /* ------------------------- */

  line-height: 1.5;
  font-family: var(--font-family);
  font-size: 20px;
  color: var(--font-color);
  background-color: var(--background-color);
  scroll-behavior: smooth;
}
/* Body */
body {
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  hyphens: auto;
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}
a{
  color: var(--font-color);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
a:hover,
a:focus{
  color: var(--orange-color);
}
ul{
  list-style-type: none;
}
header{
  width: 100%;
  text-align: center;
}
h1{
  font-weight:100;
  letter-spacing: 4px;
  user-select: none;
}
h2{
  font-weight:300;
  letter-spacing: 2px;
  user-select: none;
}
main{
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
section{
  margin: 0 20px;
}
li::before{
  content: "◦";
  color: var(--green-color);
  display: inline-block;
  margin-right:10px;  
}
@media (max-width: 900px) {
  body {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  main{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  section{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  section h2{
    text-align: center;
  }
  ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
    padding: 0;
  }
}